body{
    font-size: 12px;
    font-family: Verdana, sans-serif;
    color:rgb(8, 10, 10);
}

.topo{
    font-size: 20px;
    font-family: Georgia;
    border-color: rgb(243, 241, 241);
    padding: 10px;

}
 

.td2{
    font-weight: bolder;
    font-size: 20px;
    color: rgba(4, 0, 255, 0.849);
    padding: 15px;
}

.td1{
    width: 151px;
    height: 151px;
}
table{
    width: 900px;
}
.td3 {
    font-weight: bolder;
    color: black;

}

.td5{

    font-weight: bolder;
    padding: 15px;
}

.img{
    width: 150px;
    height: 150;
}

.back{
    background-color: rgb(236, 224, 224);
}